body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header nav {
  margin-top: 1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav li {
  margin-right: 1em;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1em;
}

section {
  margin-bottom: 2em;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

section h2 {
  margin-top: 0;
  font-size: 1.8em;
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#about div {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#about img {
  width: 10%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 1em;
}

#about p {
  margin-top: 1em;
}

#services div {
  display: flex;
}

#services div div {
  flex: 1;
  margin-right: 0.5em;
}

#services div div img {
  width: 20%;
  margin-right: 1em;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}


#portfolio div {
  display: block;
}

#portfolio div div {
  flex: 1;
  margin-right: 2em;
}

#portfolio div div img {
  width: 50%;
  border-radius: 5px;
}

#contact form {
  margin-top: 1em;
}

#contact label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc;
}

#contact input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
}

#contact input[type="submit"]:hover {
  background-color: #555;
}

#notas {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
}

#notas .note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

#notas .add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

#notas .add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}



@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    font-size: 1.8em;
  }
  header nav {
    margin-top: 1em;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav li {
    margin-bottom: 0.5em;
  }
  main section {
    padding: 1em;
  }
  #about img {
    float: none;
    margin-right: 0;
    width: 100%;
    max-width: 150px;
    margin-bottom: 1em;
  }
  #services div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services div div {
    margin-right: 0;
    margin-bottom: 1em;
  }
  #services div div img {
    width: 100%;
    max-width: 50px;
    margin-right: 0;
  }
  #portfolio div div {
    margin-right: 0;
    margin-bottom: 1em;
  }
  #portfolio div div img {
    width: 100%;
    max-width: 150px;
  }
  #contact form {
    width: 100%;
  }
}

